* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Oswald, sans-serif;
}
.App {
  height: 110%;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.548);
}

.movie-details {
  background: #000000c5;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
  max-width: 800px;
}

.poster {
  widows: 100%;
}

.poster img {
  width: 100%;
}

.movie-info h1 {
  font-size: 40px;
}

.movie-info p {
  line-height: 20px;
  width: 100%;
  /* max-width: 500px;
  min-width: 400px; */
}
.genres {
  margin: 20px 0;
  width: 80%;
}

.headlines {
  color: #00fc87;
  font-size: 18px;
  margin: 20px 0;
}

.release-details {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.release-info .headlines {
  font-size: 25px;
}

.release-info p {
  font-size: 16px;
}

@media all and (min-width: 700px) {
  .App {
    height: 100vh;
  }
  .movie-details {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    width: 50%;
    min-width: 700px;
    margin: 20px auto;
  }

  .poster {
    width: 100%;
    min-width: 300px;
    height: 100%;
  }
  .poster img {
    width: 100%;
    height: 100%;
  }

  .movie-info {
    width: 100%;
    min-width: 300px;
  }
  .release-details {
    width: 90%;
  }
}

/* FORM  */
form {
  text-align: center;
  position: relative;
}

input {
  color: white;
  margin-top: 20px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 20px;
  border-bottom: 1px solid white;
  width: 300px;
  padding-left: 5px;
  padding-bottom: 5px;
}

input::placeholder {
  color: rgb(177, 173, 173);
}

form ul {
  background-color: rgba(0, 0, 0, 0.562);
  position: absolute;
  width: 300px;
  right: 50%;
  transform: translate(50%, 0%);
  margin: 0 auto;
}

form ul li {
  list-style: none;
  color: white;
  text-align: left;
  text-transform: lowercase;
  padding: 10px;
  border-bottom: 1px solid black;
}

form ul li:hover {
  background-color: #00fc87;
  color: black;
  cursor: pointer;
}
